<section class="about-section">
  <div class="about-container">
    <div class="about-text">
      <h2>Líneas Generación y/o Aplicación del Conocimiento del Programa</h2>
      <h3>La Maestría en Ingeniería cuenta con las siguientes líneas de Investigación (LGAC):</h3>

      <table id="tabla1" class="study-plan-table">
        <thead>
          <tr>
            <th>LGAC</th>
            <th>Objetivos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lgyacList">
            <ng-container *ngIf="filaEditando === item.id_lgyac; else modoLectura">
              <td>
                <input [(ngModel)]="editLgac" class="input-text" />
              </td>
              <td>
                <input [(ngModel)]="editObjetivo" class="input-text" />
              </td>
              <td>
                <button (click)="guardarEdicion(item)" class="btn-guardar">Guardar</button>
                <button (click)="cancelarEdicion()" class="btn-cancelar">Cancelar</button>
              </td>
            </ng-container>

            <ng-template #modoLectura>
              <td>{{ item.nombre }}</td>
              <td>{{ item.objetivos }}</td>
              <td>
                <button (click)="editarFila(item)" class="btnEditar">Editar</button>
                <button (click)="eliminarFila(item.id_lgyac)" class="btnEliminarLGYAC">Eliminar</button>
              </td>
            </ng-template>
          </tr>

          <tr *ngIf="nuevaFilaActiva">
            <td>
              <input [(ngModel)]="nuevoLgac" placeholder="Nueva LGAC" class="input-text" />
            </td>
            <td>
              <input [(ngModel)]="nuevoObjetivo" placeholder="Nuevo Objetivo" class="input-text" />
            </td>
            <td>
              <button (click)="guardarNuevaFila()" class="btn-guardar">Guardar</button>
              <button (click)="cancelarNuevaFila()" class="btn-cancelar">Cancelar</button>
            </td>
          </tr>

          <tr *ngIf="lgyacList.length === 0 && !nuevaFilaActiva">
            <td colspan="3">No hay registros</td>
          </tr>
        </tbody>
      </table>

      <div class="actions">
        <button (click)="agregarFilaLGYAC()" class="añadir-btnLGYAC">Añadir Fila</button>
      </div>
    </div>
  </div>
</section>
