<section class="about-section">
    <div class="about-container">
        <div class="about-text">
            <h2>Síntesis del Plan de Estudios</h2>

            <!-- Tabla Maestría con Orientación Profesional -->
            <h3>Maestría con Orientación Profesional</h3>
            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orientacion">

                        <ng-container *ngIf="filaEditando === item.id_orientacion; else modoLectura">
                            <td><input type="text" [(ngModel)]="editMateria" class="input-amplio" /></td>
                            <td><input type="number" [(ngModel)]="editCreditos" class="input-amplio" /></td>
                            <td>
                                <button (click)="guardarEdicion(item.id_orientacion)"
                                    class="save-btnSintesis">Guardar</button>
                                <button (click)="cancelarEdicion()" class="cancel-btnSintesis">Cancelar</button>
                            </td>
                        </ng-container>

                        <ng-template #modoLectura>
                            <td>{{ item.materia }}</td>
                            <td>{{ item.creditos }}</td>
                            <td>
                                <button (click)="editarFila(item)" class="editar-btnSintesis">Editar</button>
                                <button (click)="eliminarFila(item.id_orientacion)"
                                    class="eliminar-btnSintesis">Eliminar</button>
                            </td>
                        </ng-template>
                    </tr>

                    <tr *ngIf="nuevaFilaActiva">
                        <td><input type="text" [(ngModel)]="nuevaMateria" placeholder="Materia" class="input-amplio" />
                        </td>
                        <td><input type="number" [(ngModel)]="nuevosCreditos" placeholder="Créditos"
                                class="input-amplio" /></td>
                        <td>
                            <button (click)="guardarNuevaFila()" class="save-btnSintesis">Guardar</button>
                            <button (click)="cancelarNuevaFila()" class="cancel-btnSintesis">Cancelar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Botón de añadir -->
            <div class="actions">
                <button (click)="anadirFila()" class="añadir-btnMaestria">Añadir Materia</button>
            </div>

            <div class="separator"></div>


            <!-- Distribución de Asignaturas -->
            <h3>Distribución de Asignaturas</h3>
            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of distribucion">
                        <ng-container
                            *ngIf="filaEditandoDistribucion === item.id_asignatura; else modoLecturaDistribucion">
                            <td><input type="text" [(ngModel)]="editMateriaDistribucion" class="input-amplio" /></td>
                            <td><input type="number" [(ngModel)]="editCreditosDistribucion" class="input-amplio" /></td>
                            <td>
                                <button (click)="guardarEdicionDistribucion(item.id_asignatura)"
                                    class="save-btnSintesis">Guardar</button>
                                <button (click)="cancelarEdicionDistribucion()"
                                    class="cancel-btnSintesis">Cancelar</button>
                            </td>
                        </ng-container>

                        <ng-template #modoLecturaDistribucion>
                            <td>{{ item.materia }}</td>
                            <td>{{ item.creditos }}</td>
                            <td>
                                <button (click)="editarFilaDistribucion(item)"
                                    class="editar-btnSintesis">Editar</button>
                                <button (click)="eliminarFilaDistribucion(item.id_asignatura)"
                                    class="eliminar-btnSintesis">Eliminar</button>
                            </td>
                        </ng-template>
                    </tr>

                    <tr *ngIf="nuevaFilaActivaDistribucion">
                        <td><input type="text" [(ngModel)]="nuevaMateriaDistribucion" placeholder="Materia"
                                class="input-amplio" /></td>
                        <td><input type="number" [(ngModel)]="nuevosCreditosDistribucion" placeholder="Créditos"
                                class="input-amplio" /></td>
                        <td>
                            <button (click)="guardarNuevaFilaDistribucion()" class="save-btnSintesis">Guardar</button>
                            <button (click)="cancelarNuevaFilaDistribucion()"
                                class="cancel-btnSintesis">Cancelar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Botón de añadir -->
            <div class="actions">
                <button (click)="anadirFilaDistribucion()" class="añadir-btnAsignaturas">Añadir Fila</button>
            </div>

            <div class="separator"></div>


            <!-- Asignaturas Básicas -->
            <h3>Asignaturas Básicas</h3>
            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of basicas">

                        <ng-container *ngIf="filaEditandoBasicas === item.id_asignatura; else modoLecturaBasicas">
                            <td>
                                <input type="text" [(ngModel)]="editMateriaBasicas" class="input-amplio"
                                    placeholder="Materia" />
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="editCreditosBasicas" class="input-amplio"
                                    placeholder="Créditos" />
                            </td>
                            <td>
                                <button (click)="guardarEdicionBasicas(item.id_asignatura)" class="save-btnSintesis">
                                    Guardar
                                </button>
                                <button (click)="cancelarEdicionBasicas()" class="cancel-btnSintesis">
                                    Cancelar
                                </button>
                            </td>
                        </ng-container>

                        <ng-template #modoLecturaBasicas>
                            <td>{{ item.materia }}</td>
                            <td>{{ item.creditos }}</td>
                            <td>
                                <button (click)="editarFilaBasicas(item)" class="editar-btnSintesis">
                                    Editar
                                </button>
                                <button (click)="eliminarFilaBasicas(item.id_asignatura)" class="eliminar-btnSintesis">
                                    Eliminar
                                </button>
                            </td>
                        </ng-template>
                    </tr>

                    <tr *ngIf="nuevaFilaActivaBasicas">
                        <td>
                            <input type="text" [(ngModel)]="nuevaMateriaBasica" placeholder="Materia"
                                class="input-amplio" />
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="nuevosCreditosBasica" placeholder="Créditos"
                                class="input-amplio" />
                        </td>
                        <td>
                            <button (click)="guardarNuevaFilaBasicas()" class="save-btnSintesis">
                                Guardar
                            </button>
                            <button (click)="cancelarNuevaFilaBasicas()" class="cancel-btnSintesis">
                                Cancelar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Botón de añadir -->
            <div class="actions">
                <button (click)="anadirFilaBasicas()" class="añadir-btnBasicas">
                    Añadir Fila
                </button>
            </div>

            <div class="separator"></div>


            <!-- Asignaturas Optativas -->
            <h3>Asignaturas Optativas</h3>
            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of optativas">
                        <ng-container *ngIf="filaEditandoOptativas === item.id_optativas; else modoLecturaOptativas">
                            <td>
                                <input type="text" [(ngModel)]="editMateriaOptativas" class="input-amplio"
                                    placeholder="Materia" />
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="editCreditosOptativas" class="input-amplio"
                                    placeholder="Créditos" />
                            </td>
                            <td>
                                <button (click)="guardarEdicionOptativas(item.id_optativas)" class="save-btnSintesis">
                                    Guardar
                                </button>
                                <button (click)="cancelarEdicionOptativas()" class="cancel-btnSintesis">
                                    Cancelar
                                </button>
                            </td>
                        </ng-container>

                        <ng-template #modoLecturaOptativas>
                            <td>{{ item.materia }}</td>
                            <td>{{ item.creditos }}</td>
                            <td>
                                <button (click)="editarFilaOptativas(item)" class="editar-btnSintesis">
                                    Editar
                                </button>
                                <button (click)="eliminarFilaOptativas(item.id_optativas)" class="eliminar-btnSintesis">
                                    Eliminar
                                </button>
                            </td>
                        </ng-template>
                    </tr>

                    <tr *ngIf="nuevaFilaActivaOptativas">
                        <td>
                            <input type="text" [(ngModel)]="nuevaMateriaOptativa" placeholder="Materia"
                                class="input-amplio" />
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="nuevosCreditosOptativa" placeholder="Créditos"
                                class="input-amplio" />
                        </td>
                        <td>
                            <button (click)="guardarNuevaFilaOptativas()" class="save-btnSintesis">
                                Guardar
                            </button>
                            <button (click)="cancelarNuevaFilaOptativas()" class="cancel-btnSintesis">
                                Cancelar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Botón de añadir -->
            <div class="actions">
                <button (click)="anadirFilaOptativas()" class="añadir-btnOptativas">
                    Añadir Fila
                </button>
            </div>

            <div class="separator"></div>

        </div>
    </div>
</section>


<!-- =============================== -->
<!-- SECCIÓN: URL MAPA CURRICULAR -->
<!-- =============================== -->

<h3 class="centrado">Mapa Curricular:</h3>

<div class="mapa-container" *ngIf="mapa && !editandoMapa; else editarMapaTpl">
    <a [href]="mapa.url" target="_blank">{{ mapa.url }}</a>

    <div class="actions">
        <button (click)="editarMapa()" class="editar-btn">
            Editar URL
        </button>
    </div>
</div>

<ng-template #editarMapaTpl>
    <div class="input-contenedor">
        <input type="text" [(ngModel)]="nuevaURLMapa" class="input-requisito"
            placeholder="Edita la URL del mapa curricular..." />

        <div class="actions">
            <button (click)="guardarEdicionMapa()" class="guardar-btn">Guardar</button>
            <button (click)="cancelarEdicionMapa()" class="cancelar-btn">Cancelar</button>
        </div>
    </div>
</ng-template>