<!-- Tabla LGAC: Ingeniería en Sistemas (ARTÍCULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Ingeniería en Sistemas</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos" class="articulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE ARTÍCULOS -->
            <ng-container *ngFor="let art of articulos">

                <tr class="fila-articulo">
                    <td (click)="abrirArticulo(art.url)">
                        <strong class="titulo-articulo">{{ art.titulo }}</strong><br>
                        <span class="descripcion-articulo">• {{ art.descripcion }}</span>
                    </td>
                </tr>

                <!-- Botones de Editar y Eliminar -->
                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarArticulo(art)">
                            Editar
                        </button>

                        <button class="btn-eliminar-articulo" (click)="confirmarEliminar(art.id_articulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- FORMULARIO DE EDICIÓN -->
                <tr *ngIf="art.id_articulo === articuloEditando?.id_articulo">
                    <ng-container *ngIf="articuloEditando as artEditando">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Artículo</h3>

                                <form>
                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="artEditando.titulo" name="tituloEditar" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="artEditando.descripcion" name="descripcionEditar"
                                        rows="4"></textarea>

                                    <label>URL del artículo:</label>
                                    <input type="text" [(ngModel)]="artEditando.url" name="urlEditar" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarArticulo()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicion()">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar artículo -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormulario()">
            + Agregar Artículo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR ARTÍCULO -->
    <div class="formulario-articulo" *ngIf="mostrarFormulario">
        <h3>Nuevo Artículo</h3>

        <form>
            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoArticulo.titulo" name="titulo" placeholder="Título del artículo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoArticulo.descripcion" name="descripcion" rows="4"
                placeholder="Descripción del artículo"></textarea>

            <!-- URL -->
            <label>URL del artículo:</label>
            <input type="text" [(ngModel)]="nuevoArticulo.url" name="url" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarArticulo()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelar()">
                    Cancelar
                </button>
            </div>
        </form>

    </div>

</section>


<!-- Tabla LGAC: Ingeniería en Sistemas (CAPÍTULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos" class="capitulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE CAPÍTULOS -->
            <ng-container *ngFor="let cap of capitulos">

                <tr class="fila-capitulos" (click)="abrirCapitulo(cap.url)">
                    <td>
                        <strong class="titulo-capitulos">{{ cap.titulo }}</strong><br>
                        <span class="descripcion-capitulos">• {{ cap.descripcion }}</span>
                    </td>
                </tr>

                <!-- BOTÓN EDITAR CAPÍTULO -->
                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarCapitulo(cap)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarCapitulo(cap.id_capitulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- FORMULARIO DE EDICIÓN DE CAPÍTULO -->
                <tr *ngIf="cap.id_capitulo === capituloEditando?.id_capitulo">
                    <ng-container *ngIf="capituloEditando as capEditando">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Capítulo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="capEditando.titulo" name="tituloEditarCap" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="capEditando.descripcion" name="descripcionEditarCap"
                                        rows="4"></textarea>

                                    <label>URL del capítulo:</label>
                                    <input type="text" [(ngModel)]="capEditando.url" name="urlEditarCap" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarCapitulo()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionCapitulo()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>
</section>

<!-- BOTÓN PARA AGREGAR CAPÍTULO -->
<div class="agregar-articulo-container">
    <button class="btn-agregar" (click)="toggleFormularioCapitulos()">
        + Agregar Capítulo
    </button>
</div>

<!-- FORMULARIO PARA CREAR CAPÍTULO -->
<div class="formulario-articulo" *ngIf="mostrarFormularioCapitulos">
    <h3>Nuevo Capítulo</h3>

    <form>

        <!-- TÍTULO -->
        <label>Título:</label>
        <input type="text" [(ngModel)]="nuevoCapitulo.titulo" name="tituloCap" placeholder="Título del capítulo" />

        <!-- DESCRIPCIÓN -->
        <label>Descripción:</label>
        <textarea [(ngModel)]="nuevoCapitulo.descripcion" name="descripcionCap" rows="4"
            placeholder="Descripción del capítulo"></textarea>

        <!-- URL -->
        <label>URL del capítulo:</label>
        <input type="text" [(ngModel)]="nuevoCapitulo.url" name="urlCap" placeholder="https://ejemplo.com" />

        <!-- BOTONES -->
        <div class="acciones-formulario">
            <button class="btn-guardar" type="button" (click)="guardarCapitulo()">
                Guardar
            </button>

            <button class="btn-cancelar" type="button" (click)="cancelarCapitulo()">
                Cancelar
            </button>
        </div>

    </form>
</div>


<!-- Tabla LGAC: Ingeniería en Sistemas (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos" class="proyectos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE PROYECTOS -->
            <ng-container *ngFor="let proy of proyectos">

                <tr class="fila-proyectos" (click)="abrirProyecto(proy.url)">
                    <td>
                        <strong class="titulo-proyectos">{{ proy.titulo }}</strong><br>
                        <span class="descripcion-proyectos">• {{ proy.descripcion }}</span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarProyecto(proy)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarProyecto(proy.id_proyecto)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="proy.id_proyecto === proyectoEditando?.id_proyecto">
                    <ng-container *ngIf="proyectoEditando as proyEditando">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Proyecto</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="proyEditando.titulo" name="tituloEditarProyecto" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="proyEditando.descripcion" name="descripcionEditarProyecto"
                                        rows="4"></textarea>

                                    <label>URL del proyecto:</label>
                                    <input type="text" [(ngModel)]="proyEditando.url" name="urlEditarProyecto" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarProyecto()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionProyecto()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>
</section>

<!-- BOTÓN PARA AGREGAR PROYECTO -->
<div class="agregar-articulo-container">
    <button class="btn-agregar" (click)="toggleFormularioProyectos()">
        + Agregar Proyecto
    </button>
</div>

<!-- FORMULARIO PARA CREAR PROYECTO -->
<div class="formulario-articulo" *ngIf="mostrarFormularioProyectos">
    <h3>Nuevo Proyecto</h3>

    <form>

        <!-- TÍTULO -->
        <label>Título:</label>
        <input type="text" [(ngModel)]="nuevoProyecto.titulo" name="tituloProyecto" placeholder="Título del proyecto" />

        <!-- DESCRIPCIÓN -->
        <label>Descripción:</label>
        <textarea [(ngModel)]="nuevoProyecto.descripcion" name="descripcionProyecto" rows="4"
            placeholder="Descripción del proyecto"></textarea>

        <!-- URL -->
        <label>URL del proyecto:</label>
        <input type="text" [(ngModel)]="nuevoProyecto.url" name="urlProyecto" placeholder="https://ejemplo.com" />

        <!-- BOTONES -->
        <div class="acciones-formulario">
            <button class="btn-guardar" type="button" (click)="guardarProyecto()">
                Guardar
            </button>

            <button class="btn-cancelar" type="button" (click)="cancelarProyecto()">
                Cancelar
            </button>
        </div>

    </form>
</div>


<!-- Producción LGAC:  Instrumentación y Bioelectrónica (ARTÍCULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Instrumentación y Bioelectrónica</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos2" class="articulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE ARTÍCULOS -->
            <ng-container *ngFor="let art2 of articulos2">

                <tr class="fila-articulo" (click)="abrirArticulo2(art2.url)">
                    <td>
                        <strong class="titulo-articulo">{{ art2.titulo }}</strong><br>
                        <span class="descripcion-articulo">
                            • {{ art2.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarArticulo2(art2)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarArticulo2(art2.id_articulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="art2.id_articulo === articulo2Editando?.id_articulo">
                    <ng-container *ngIf="articulo2Editando as artEditando2">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Artículo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="artEditando2.titulo" name="tituloEditar2" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="artEditando2.descripcion" name="descripcionEditar2"
                                        rows="4"></textarea>

                                    <label>URL del artículo:</label>
                                    <input type="text" [(ngModel)]="artEditando2.url" name="urlEditar2" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarArticulo2()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicion2()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Artículo 2 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioArticulos2()">
            + Agregar Artículo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR ARTÍCULO 2 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioArticulos2">
        <h3>Nuevo Artículo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoArticulo2.titulo" name="titulo2" placeholder="Título del artículo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoArticulo2.descripcion" name="descripcion2" rows="4"
                placeholder="Descripción del artículo"></textarea>

            <!-- URL -->
            <label>URL del artículo:</label>
            <input type="text" [(ngModel)]="nuevoArticulo2.url" name="url2" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarArticulo2()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarArticulo2()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>
</section>


<!-- Producción LGAC:  Instrumentación y Bioelectrónica (CAPÍTULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos2" class="capitulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE CAPÍTULOS 2 -->
            <ng-container *ngFor="let cap2 of capitulos2">

                <tr class="fila-capitulos" (click)="abrirCapitulo2(cap2.url)">
                    <td>
                        <strong class="titulo-capitulos">{{ cap2.titulo }}</strong><br>
                        <span class="descripcion-capitulos">
                            • {{ cap2.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarCapitulo2(cap2)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarCapitulo2(cap2.id_capitulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="cap2.id_capitulo === capitulo2Editando?.id_capitulo">
                    <ng-container *ngIf="capitulo2Editando as capEditando2">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Capítulo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="capEditando2.titulo" name="tituloCapEditar2" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="capEditando2.descripcion" name="descripcionCapEditar2"
                                        rows="4"></textarea>

                                    <label>URL del capítulo:</label>
                                    <input type="text" [(ngModel)]="capEditando2.url" name="urlCapEditar2" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarCapitulo2()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionCapitulo2()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Capítulo 2 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioCapitulos2()">
            + Agregar Capítulo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR CAPÍTULO 2 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioCapitulos2">
        <h3>Nuevo Capítulo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo2.titulo" name="tituloCap2"
                placeholder="Título del capítulo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoCapitulo2.descripcion" name="descripcionCap2" rows="4"
                placeholder="Descripción del capítulo"></textarea>

            <!-- URL -->
            <label>URL del capítulo:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo2.url" name="urlCap2" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarCapitulo2()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarCapitulo2()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>


<!-- Producción LGAC:  Instrumentación y Bioelectrónica (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos2" class="proyectos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE PROYECTOS 2 -->
            <ng-container *ngFor="let proy2 of proyectos2">

                <tr class="fila-proyectos" (click)="abrirProyecto2(proy2.url)">
                    <td>
                        <strong class="titulo-proyectos">{{ proy2.titulo }}</strong><br>
                        <span class="descripcion-proyectos">
                            • {{ proy2.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr *ngIf="proy2.id_proyecto === proyecto2Editando?.id_proyecto">
                    <ng-container *ngIf="proyecto2Editando as proyEditando2">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Proyecto</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="proyEditando2.titulo" name="tituloProyEditar2" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="proyEditando2.descripcion" name="descripcionProyEditar2"
                                        rows="4"></textarea>

                                    <label>URL del proyecto:</label>
                                    <input type="text" [(ngModel)]="proyEditando2.url" name="urlProyEditar2" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarProyecto2()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionProyecto2()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarProyecto2(proy2)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarProyecto2(proy2.id_proyecto)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Proyecto 2 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioProyectos2()">
            + Agregar Proyecto
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR PROYECTO 2 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioProyectos2">
        <h3>Nuevo Proyecto</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoProyecto2.titulo" name="tituloProy2"
                placeholder="Título del proyecto" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoProyecto2.descripcion" name="descripcionProy2" rows="4"
                placeholder="Descripción del proyecto"></textarea>

            <!-- URL -->
            <label>URL del proyecto:</label>
            <input type="text" [(ngModel)]="nuevoProyecto2.url" name="urlProy2" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarProyecto2()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarProyecto2()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>


<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (ARTICULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos3" class="articulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE ARTÍCULOS -->
            <ng-container *ngFor="let art of articulos3">

                <tr class="fila-articulo" (click)="abrirArticulo3(art.url)">
                    <td>
                        <strong class="titulo-articulo">{{ art.titulo }}</strong><br>
                        <span class="descripcion-articulo">• {{ art.descripcion }}</span>
                    </td>
                </tr>

                <!-- Botones de Editar -->
                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarArticulo3(art)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarArticulo3(art.id_articulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- FORMULARIO DE EDICIÓN -->
                <tr *ngIf="art.id_articulo === articulo3Editando?.id_articulo">
                    <ng-container *ngIf="articulo3Editando as artEditando3">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Artículo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="artEditando3.titulo" name="tituloEditar3" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="artEditando3.descripcion" name="descripcionEditar3"
                                        rows="4"></textarea>

                                    <label>URL del artículo:</label>
                                    <input type="text" [(ngModel)]="artEditando3.url" name="urlEditar3" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarArticulo3()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionArticulo3()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar artículo -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioArticulo3()">
            + Agregar Artículo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR ARTÍCULO -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioArticulos3">
        <h3>Nuevo Artículo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoArticulo3.titulo" name="titulo3" placeholder="Título del artículo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoArticulo3.descripcion" name="descripcion3" rows="4"
                placeholder="Descripción del artículo"></textarea>

            <!-- URL -->
            <label>URL del artículo:</label>
            <input type="text" [(ngModel)]="nuevoArticulo3.url" name="url3" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarArticulo3()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarArticulo3()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>


<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (CAPITULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos3" class="capitulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE CAPÍTULOS -->
            <ng-container *ngFor="let cap of capitulos3">

                <tr class="fila-capitulos" (click)="abrirCapitulo3(cap.url)">
                    <td>
                        <strong class="titulo-capitulos">{{ cap.titulo }}</strong><br>
                        <span class="descripcion-capitulos">• {{ cap.descripcion }}</span>
                    </td>
                </tr>

                <!-- Botón Editar -->
                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarCapitulo3(cap)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarCapitulo3(cap.id_capitulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- FORMULARIO DE EDICIÓN DE CAPÍTULOS 3 -->
                <tr *ngIf="cap.id_capitulo === capitulo3Editando?.id_capitulo">
                    <ng-container *ngIf="capitulo3Editando as capEditando3">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Capítulo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="capEditando3.titulo" name="tituloEditarCap3" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="capEditando3.descripcion" name="descripcionEditarCap3"
                                        rows="4"></textarea>

                                    <label>URL del capítulo:</label>
                                    <input type="text" [(ngModel)]="capEditando3.url" name="urlEditarCap3" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarCapitulo3()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionCapitulo3()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Capítulo 2 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioCapitulos3()">
            + Agregar Capítulo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR CAPÍTULO 2 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioCapitulos3">
        <h3>Nuevo Capítulo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo3.titulo" name="tituloCap3"
                placeholder="Título del capítulo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoCapitulo3.descripcion" name="descripcionCap3" rows="4"
                placeholder="Descripción del capítulo"></textarea>

            <!-- URL -->
            <label>URL del capítulo:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo3.url" name="urlCap3" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarCapitulo3()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarCapitulo3()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>
</section>


<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos3" class="proyectos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE PROYECTOS -->
            <ng-container *ngFor="let proy of proyectos3">

                <tr class="fila-proyectos" (click)="abrirProyecto3(proy.url)">
                    <td>
                        <strong class="titulo-proyectos">{{ proy.titulo }}</strong><br>
                        <span class="descripcion-proyectos">• {{ proy.descripcion }}</span>
                    </td>
                </tr>

                <!-- Botón de Editar -->
                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarProyecto3(proy)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarProyecto3(proy.id_proyecto)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <!-- FORMULARIO DE EDICIÓN -->
                <tr *ngIf="proy.id_proyecto === proyecto3Editando?.id_proyecto">
                    <ng-container *ngIf="proyecto3Editando as proyEditando">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Proyecto</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="proyEditando.titulo" name="tituloProyecto3Editar" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="proyEditando.descripcion" name="descripcionProyecto3Editar"
                                        rows="4"></textarea>

                                    <label>URL del proyecto:</label>
                                    <input type="text" [(ngModel)]="proyEditando.url" name="urlProyecto3Editar" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarProyecto3()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionProyecto3()">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar PROYECTO 3 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioProyectos3()">
            + Agregar Proyecto
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR PROYECTO 3 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioProyectos3">
        <h3>Nuevo Proyecto</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoProyecto3.titulo" name="tituloProyecto3"
                placeholder="Título del proyecto" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoProyecto3.descripcion" name="descripcionProyecto3" rows="4"
                placeholder="Descripción del proyecto"></textarea>

            <!-- URL -->
            <label>URL del proyecto:</label>
            <input type="text" [(ngModel)]="nuevoProyecto3.url" name="urlProyecto3" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarProyecto3()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarProyecto3()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>


<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (ARTÍCULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Desarrollo de Tecnología e Innovación</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos4" class="articulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE ARTÍCULOS 4 -->
            <ng-container *ngFor="let art4 of articulos4">

                <tr class="fila-articulo" (click)="abrirArticulo4(art4.url)">
                    <td>
                        <strong class="titulo-articulo">{{ art4.titulo }}</strong><br>
                        <span class="descripcion-articulo">
                            • {{ art4.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarArticulo4(art4)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarArticulo4(art4.id_articulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="art4.id_articulo === articulo4Editando?.id_articulo">
                    <ng-container *ngIf="articulo4Editando as artEditando4">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Artículo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="artEditando4.titulo" name="tituloArt4Editar" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="artEditando4.descripcion" name="descripcionArt4Editar"
                                        rows="4"></textarea>

                                    <label>URL del artículo:</label>
                                    <input type="text" [(ngModel)]="artEditando4.url" name="urlArt4Editar" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarArticulo4()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionArticulo4()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Espaciador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Artículo 4 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioArticulos4()">
            + Agregar Artículo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR ARTÍCULO 4 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioArticulos4">
        <h3>Nuevo Artículo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoArticulo4.titulo" name="tituloArt4"
                placeholder="Título del artículo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoArticulo4.descripcion" name="descripcionArt4" rows="4"
                placeholder="Descripción del artículo"></textarea>

            <!-- URL -->
            <label>URL del artículo:</label>
            <input type="text" [(ngModel)]="nuevoArticulo4.url" name="urlArt4" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarArticulo4()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarArticulo4()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>


<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (CAPÍTULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos4" class="capitulos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE CAPÍTULOS 4 -->
            <ng-container *ngFor="let cap4 of capitulos4">

                <tr class="fila-capitulos" (click)="abrirCapitulo4(cap4.url)">
                    <td>
                        <strong class="titulo-capitulos">{{ cap4.titulo }}</strong><br>
                        <span class="descripcion-capitulos">
                            • {{ cap4.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarCapitulo4(cap4)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarCapitulo4(cap4.id_capitulo)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="cap4.id_capitulo === capitulo4Editando?.id_capitulo">
                    <ng-container *ngIf="capitulo4Editando as capEdit4">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Capítulo</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="capEdit4.titulo" name="tituloCap4Editar" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="capEdit4.descripcion" name="descripcionCap4Editar"
                                        rows="4"></textarea>

                                    <label>URL del capítulo:</label>
                                    <input type="text" [(ngModel)]="capEdit4.url" name="urlCap4Editar" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarCapitulo4()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionCapitulo4()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Capítulo 4 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioCapitulos4()">
            + Agregar Capítulo
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR CAPÍTULO 4 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioCapitulos4">
        <h3>Nuevo Capítulo</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo4.titulo" name="tituloCap4"
                placeholder="Título del capítulo" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoCapitulo4.descripcion" name="descripcionCap4" rows="4"
                placeholder="Descripción del capítulo"></textarea>

            <!-- URL -->
            <label>URL del capítulo:</label>
            <input type="text" [(ngModel)]="nuevoCapitulo4.url" name="urlCap4" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarCapitulo4()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarCapitulo4()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>
</section>


<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos4" class="proyectos-tabla">
        <tbody>

            <!-- LISTA DINÁMICA DE PROYECTOS 4 -->
            <ng-container *ngFor="let proy4 of proyectos4">

                <tr class="fila-proyectos" (click)="abrirProyecto4(proy4.url)">
                    <td>
                        <strong class="titulo-proyectos">{{ proy4.titulo }}</strong><br>
                        <span class="descripcion-proyectos">
                            • {{ proy4.descripcion }}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="acciones-articulo">
                        <button class="btn-editar-articulo" (click)="editarProyecto4(proy4)">
                            Editar
                        </button>
                        <button class="btn-eliminar-articulo" (click)="confirmarEliminarProyecto4(proy4.id_proyecto)">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <tr *ngIf="proy4.id_proyecto === proyecto4Editando?.id_proyecto">
                    <ng-container *ngIf="proyecto4Editando as proyEdit4">
                        <td>
                            <div class="formulario-articulo">
                                <h3>Editar Proyecto</h3>

                                <form>

                                    <label>Título:</label>
                                    <input type="text" [(ngModel)]="proyEdit4.titulo" name="tituloProy4Editar" />

                                    <label>Descripción:</label>
                                    <textarea [(ngModel)]="proyEdit4.descripcion" name="descripcionProy4Editar"
                                        rows="4"></textarea>

                                    <label>URL del proyecto:</label>
                                    <input type="text" [(ngModel)]="proyEdit4.url" name="urlProy4Editar" />

                                    <div class="acciones-formulario">
                                        <button class="btn-guardar" type="button" (click)="actualizarProyecto4()">
                                            Guardar Cambios
                                        </button>

                                        <button class="btn-cancelar" type="button" (click)="cancelarEdicionProyecto4()">
                                            Cancelar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </td>
                    </ng-container>
                </tr>

                <!-- Separador -->
                <tr class="espacio separator"></tr>

            </ng-container>

        </tbody>
    </table>

    <!-- Botón para agregar Proyecto 4 -->
    <div class="agregar-articulo-container">
        <button class="btn-agregar" (click)="toggleFormularioProyectos4()">
            + Agregar Proyecto
        </button>
    </div>

    <!-- FORMULARIO PARA CREAR PROYECTO 4 -->
    <div class="formulario-articulo" *ngIf="mostrarFormularioProyectos4">
        <h3>Nuevo Proyecto</h3>

        <form>

            <!-- TÍTULO -->
            <label>Título:</label>
            <input type="text" [(ngModel)]="nuevoProyecto4.titulo" name="tituloProy4"
                placeholder="Título del proyecto" />

            <!-- DESCRIPCIÓN -->
            <label>Descripción:</label>
            <textarea [(ngModel)]="nuevoProyecto4.descripcion" name="descripcionProy4" rows="4"
                placeholder="Descripción del proyecto"></textarea>

            <!-- URL -->
            <label>URL del proyecto:</label>
            <input type="text" [(ngModel)]="nuevoProyecto4.url" name="urlProy4" placeholder="https://ejemplo.com" />

            <!-- BOTONES -->
            <div class="acciones-formulario">
                <button class="btn-guardar" type="button" (click)="guardarProyecto4()">
                    Guardar
                </button>

                <button class="btn-cancelar" type="button" (click)="cancelarProyecto4()">
                    Cancelar
                </button>
            </div>

        </form>
    </div>

</section>